# Copyright © 2026 Apple Inc. and the container project authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.

*
!.dockerignore
!Dockerfile
!entrypoint.sh
!go.mod
!main.go
!main_test.go
